.session_new_wrapper

  .social_icons
    Connectez vous avec votre compte Twitter ou Facebook:<br/><br/>
    = link_to image_tag("twitter-large.png"), "/auth/twitter" 
    = link_to image_tag("facebook-large.png"), "/auth/facebook" 



  .local_account
    Ou connectez vous avec votre compte local:<br/><br/>
    = form_for @session , :url => { :action => "create", :local => "true" } do |f|
      .form_wrapper
        .form_label
          = f.label 'Identifiant' 
        .form_field
          = f.text_field :name
        .form_label
          = f.label 'Mot de passe'
        .form_field
          = f.password_field :password 
      = f.submit "OK", :class => "custom_submit_bttn"

  .flash
    = flash[:message]

  .new_user_link
    = link_to "Créer un compte" , new_user_path 



-content_for :rightbar do 
  .intro
    SEOFlow utilise le protocole
    =link_to "OAuth","http://fr.wikipedia.org/wiki/OAuth"
    pour vous permettre de vous connecter en utilisant votre compte Twitter ou Facebook.<br/> Nous n'<b>accédons pas</b> à votre compte.
