.home_tabs
  .home_menu_left_header
    <b>Questions</b>
  -if @active == "Activité"
    .home_menu_active
      =link_to "Activité" , root_url
  -else
    .home_menu_inactive
      =link_to "Activité" , root_url
  -if @active == "Date"
    .home_menu_active
      =link_to "Date" , root_url(:filter => "date")
  -else
    .home_menu_inactive
      =link_to "Date" , root_url(:filter => "date")
  -if @active == "Votes"
    .home_menu_active
      =link_to "Votes" , root_url(:filter => "votes")
  -else 
    .home_menu_inactive
      =link_to "Votes" , root_url(:filter => "votes")
  -if @active == "Favoris"
    .home_menu_active
      =link_to "Favoris" , favorites_path
  -else
    .home_menu_inactive
      =link_to "Favoris" , favorites_path

  .clear


.clear


#left_container_home
  -if @tags
    .tags_result
      .tags_result_header  Questions taggées:
      .selected_tags 
        =@tags
  =render :partial => "questions/questionheadline", :collection => @questions
    
-if flash[:badge] && !flash[:badge].empty?
  =render :partial => "home/notify.js.erb", :locals => {:message => flash[:badge]}

.pagination
  = will_paginate @questions

-content_for :rightbar do
  .intro
    SEO Flow est un site de questions réponses dédié à la thématique du <b>référencement/SEO</b>.
  =render :partial => "layouts/social"
  .user_tags
    %span{:class =>"home_side_headers"}Tags récents<br/><br/>
    - @tags_counts.each do |tag,count|
      %div
        <a href="/?tag=#{tag}">
        %div{:class => "selected_tags_page", :id => "#{tag}"}
          =tag
        </a>
        .tags_count_value
          =count
      .clear
  .recent_badges
    %span{:class =>"home_side_headers"}Badges récents<br/><br/>
    - @recent_badges.each do |f|
      .user_badges_each
        <a href="/badges/#{f.badgeid}"><div class="badges"><span class="badgeicon #{f.metal.downcase}"></span> #{f.badge_name}</div></a>  
        .clear
 
  .recent_badges
    %span{:class =>"home_side_headers"}Membres récents
    =render :partial => "user/users" , :collection => @users, :as => :user





