%div{:class => "grid_18 alpha answer#{answer_has_replies(answer.replies)}", :id => "answer_#{answer.id}"}

  .grid_1.alpha

    %div{:class => "answer_votes", :id => "answer_votes_#{answer.id}"}
      =link_to "", 
       votes_path(:answer_id => answer, 
       :item => "answer", 
       :pos => "true"),
       :remote => "true",
       :method => "post",
       :class => "vote_up",
       :title => "Cette contribution est intéressante"

      %div{:class => "answer_votes_score", :id => "answervote_#{answer.id}",:title => "Somme de votes reçus"}
        = answer.sum_of_votes
      
      =link_to "",
       votes_path(:answer_id => answer.id, 
       :item => "answer", 
       :neg => "true"),
       :remote => "true",
       :method => "post",
       :class => "vote_down",
       :title => "Cette contribution n'est pas intéressante"

    .clear

    .solved
      -if answer.solved != 0 
        =image_tag("correct_small.png") 
    

  .grid_16.omega
    =raw answer.body
    <br/>
    - if @question.solved == 0 && @question.user.id == session[:id]
      %div{:class => "solved_link", :title => "Répondez oui pour indiquer que cette réponse vous satisfait et pour que l'auteur de cette réponse reçoive des points de réputation."}
        Cette réponse répond à ma question:
        <a href="/questions/#{@question.id}/solved?answer_id=#{answer.id}" data-method="post" data-remote="true" data-confirm="Cette réponse répond à ma question?" rel="nofollow">Oui</a>

  .clear

  .grid_4.push_14.stats_wrapper
    =render :partial => "answers/userstats2", :object => answer, :as => :item
     

  %div{:class => "grid_15 push_3 alpha replies_wrapper", :id => "replies_#{answer.id}"}
    =render :partial => "replies/reply" , :collection => answer.replies
    .clear

  .clear

 
  %div{:class => "reply_edit_wrapper", :id => "reply_edit_wrapper_#{answer.id}"}
    -if session[:id]
      .reply_link
        %a{:href => "#", :class => "reply_link", :id => "#{answer.id}", :title => "Pour commenter une réponse."} Commenter

    -if session[:id] == answer.user.id
      .edit_link
        =link_to "Modifier", edit_answer_path(answer.id), :class => "answer_edit_link", :id => answer.id.to_s
        =link_to "Effacer", answer_path(answer.id), :remote => true, :method => "delete", :confirm => "Effacer cette réponse?"


  .clear

