.user_edit
  Pour modifier votre avatar vous devez aller sur 
  =link_to "http://en.gravatar.com/","http://en.gravatar.com/"
  et associer une image à votre adresse email. Ensuite il vous suffit d'ajouter votre adresse email à votre profil ci dessous pour que votre avatar soit modifié.
  = form_for @user , :as => :user , :url => user_path(@user.id), :method => "put"  do |f|
    .grid_8
      .label
        Email: 
      = f.text_field :email, :class => "user_form_field"
    .clear
    .grid_8
      .label
        Nom réel:
      = f.text_field :realname, :class => "user_form_field"
    .clear
    .grid_8
      .label
        Site web:
      = f.text_field :website, :class => "user_form_field"
    .clear
    .grid_8
      .label
        Age:
      = f.text_field :age, :class => "user_form_field"
    .clear
    .grid_8
      .label
        Ville:
      = f.text_field :ville, :class => "user_form_field"
    .clear
    <br/><br/>
    =submit_tag "Sauvegarder"
