<!DOCTYPE html>
<html>
<head>
<title>Sixsoon2</title>
<%= stylesheet_link_tag :all %>
<%=javascript_include_tag  "jquery-1.4.2.min.js" %>
<%=javascript_include_tag  "jquery-ui-1.8.5.custom.min.js" %>
<%=javascript_include_tag "rails.js" %>
<%=javascript_include_tag "application.js" %>
<%=javascript_include_tag "typewatch.js" %>
<%= csrf_meta_tag %>
</head>
<body>

<div class="topline">
  <div class="container_12">
      <div class="grid_12">
	<%= link_to "Login" , new_session_path %><%= link_to "Logout" , session_path , :method => :delete %>
	<% if @current_user %>
	<%= "Identifié en tant que #{@current_user}" %>
	<% end %>
	<%= flash[:message] %>
      </div>
      <div class="clear"></div>
  </div>
</div>


<div class="container_12">

  <div class="grid_9">
    <div class="grid_3 alpha">
      <%= image_tag("logo.png") %>
    </div>
    <div class="grid_6 omega">
      <ul class="formats"> 
        <li><a href="/">Questions</a></li> 
        <li><%= link_to "Tags" , tags_path %></li> 
        <li><%= link_to "Badges" , badges_path %></li> 
        <li><a href="/">Sans Réponses</a></li> 	
      </ul> 
    </div>
  </div>

  <div class="grid_3">
    <ul class="formats">
      <li><%= link_to "Poser une question" , new_question_path %></li> 
    </ul>
  </div>
  
  <div class="clear"></div>  

</div>

<div class="container_12">

  <div class="grid_12"> 

    <div class="grid_9 alpha">
      <%= yield %>
    </div>
  
    <div class="grid_3 omega">
      <%= yield :rightbar %> 
    </div>

  </div>

  <div class="clear"></div>

</div>



 <script type="text/javascript" src="/wmd/wmd.js"></script>
</body>
</html>
